header {
    background: url("../images/bandeau-header-long.png") no-repeat top center;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 30px;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 9;

        img {
            border-radius: 50%;
            box-shadow: 0px 0px 8px 2px #000000;
            transition: .3s ease transform, .3s ease box-shadow;

            &:hover,
            &:focus {
                transform: scale(1.04);
                box-shadow: 0px 0px 18px 2px #000000;
            }
        }
    }

    form {
        position: relative;
        width: 350px;

        .search-bar {
            border-radius: 20px;
            padding: 10px 50px 10px 12px;
            border: none;
            width: 100%;
        }

        .submit {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            border: none;
            background-color: transparent;

            svg {
                height: 30px;
            }
        }
    }
}